NET "Clock_B8" LOC = B8;
NET "sseg[0]" LOC = M12;
NET "sseg[1]" LOC = L13;
NET "sseg[2]" LOC = P12;
NET "sseg[3]" LOC = N11;
NET "sseg[4]" LOC = N14;
NET "sseg[5]" LOC = H12;
NET "sseg[6]" LOC = L14;
NET "anOut[3]" LOC = K14;
NET "anOut[2]" LOC = M13;
NET "anOut[1]" LOC = J12;
NET "anOut[0]" LOC = F12;
NET "rowI[0]" LOC = B5;
NET "rowI[1]" LOC = J3;
NET "rowI[2]" LOC = A3;
NET "rowI[3]" LOC = B2;
NET "colO[0]" LOC = C6;
NET "colO[1]" LOC = B6;
NET "colO[2]" LOC = C5;
NET "colO[3]" LOC = B7;
NET "Instruction_In" LOC = A7;
NET "Data_In" LOC = M4;
NET "AddrOrData" LOC = N3;
NET "Run_Mode" LOC = E2;
NET "Clock_LED" LOC = M5;
NET "Negative" LOC = P4;
NET "Overflow" LOC = G1;
NET "Clock_Switch" LOC = P11;